<jbc-header [pageName]="'Home'"></jbc-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-content
      ><ion-img
        class="welcome-img"
        [src]="'assets/img/jbcwelcome.png'"
      ></ion-img
    ></ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-img
        class="welcome-img"
        [src]="'assets/img/jbcwelcome.png'"
      ></ion-img>
    </ion-card-header>
    <ion-card-content>
      At Jerusalem Baptist Church, it's our desire to be an open and welcoming
      center for community life and worship. We invite you to join our family as
      we serve together for God's glory. I believe that you will find JBC to be
      a place where God is worshiped sincerely, Jesus Christ is preached
      uncompromisingly, His resurection is celebrated triumphantly, the Gospel
      is shared unashamedly, and the Holy Spirit moves unhindered.
    </ion-card-content>
  </ion-card>
</ion-content>
